@{
    ViewBag.Title = "About";
}
<head>
    <link href="~/Content/shop-homepage.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-offset-2">
                <p class="homepagename text-center">About us</p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-xs-3 owners">
                <img src="https://scontent-arn2-1.xx.fbcdn.net/v/t1.0-9/10269441_662004510521095_4238058140893039762_n.jpg?oh=3a6887bce3e44fb4acc93741b83e788a&oe=57C5BE9B" alt="Alex" class="img-rounded">
                <p>Alexandru Giuran</p>
            </div>
            <div class="col-xs-3 owners">
                <img src="https://scontent-arn2-1.xx.fbcdn.net/t31.0-8/s960x960/1425349_10201287126767960_1034315027_o.jpg" alt="Matus" class="img-rounded">
                <p>Matus Kollarcik</p>
            </div>
            <div class="col-xs-3 owners">
                <img src="https://scontent-arn2-1.xx.fbcdn.net/v/t1.0-9/10443414_1060372697312845_6075272186319449044_n.jpg?oh=177247922a8024ef3b158163848056ca&oe=5806D3B3" alt="Razvan" class="img-rounded">
                <p>Razvan Andrei</p>
            </div>
            <div class="col-xs-3 ownerM">
                <img src="https://scontent-arn2-1.xx.fbcdn.net/v/t1.0-9/11214290_10205878586017599_1196119203324326433_n.jpg?oh=57a9a2f71d414ab89b2d3bf7a66dfca5&oe=57D7BDBF" alt="Mikkel" class="img-rounded">
                <p>Mikkel Rasmussen</p>
            </div>
        </div>
    </div>
</body>