@{
    ViewBag.Title = "Contact";
}

<head>
    <link href="~/Content/shop-homepage.css" rel="stylesheet">
</head>

<div class="row">
    <div class="col-md-8 col-lg-offset-2">
        <p class="homepagename text-center">Contact us</p>

    </div>
</div>
<hr />
<h4><strong>Address:</strong></h4>
<address>
    Get Your Bike<br />
    Sofiendalsvej <br />
    Aalborg, Denmark<br />
    <abbr title="Phone">P:</abbr>
    12 21 44 12
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@getyourbike.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@getyourbike.com</a>
</address>